<% 
// test data to prevent errors
const role = "test"
%>
  
  <h2>Create Acccount</h2>

  <form id="toolbar" class="toolbar" name="toolbar">
    <button id="tools_save" class="tools label" name="tools_save">SAVE</button>
    &nbsp; | &nbsp;
    <button id="tools_preview" class="tools label" name="tools_preview">PREVIEW</button>
    &nbsp; | &nbsp;
    <button id="tools_delete" class="tools label" name="tools_delete">DELETE</button>
  </form>

  <section class="editorSection">
    <form id="editor" name="userEditor">
      <p class="hint">All fields required.</p>
      
      <p>Role: <%- role %></p>

      <fieldset id="select-role-group" class="form-el editor">
        <legend>Select a Role:</legend>
        <input type="radio" class="" name="select-contributor">
        <label for="select-contributor">Contributor</label><br>
        <input type="radio" name="select-editor">
        <label for="select-editor">Editor</label><br>
        <input type="radio" name="select-admin">
        <label for="select-admin">Administrator</label>
        <p class="message" id="error-select-role"></p>
      </fieldset>

      <div class="fields">
        <label for="email">Email</label>
        <input type="text" class="form-el editor" name="email" placeholder="example@service.com" required>
        <p class="message" id="error-email"></p>
      </div>

      
      <div class="fields">
        <label for="confirm-email"></label>
        <input type="checkbox" class="form-el editor" name="confirm-email" required>
        <p class="message" id="error-confirm-email"></p>
      </div>

      <div class="fields">
        <label for="password">Password</label>
        <input type="password1" class="form-el editor" name="password1" placeholder="Password" required>
        <imput type="password2" class="form-el editor" name="password2" aria-placeholder="Confirm" required>
        <p class="message" id="error-password"></p>
      </div>

      <div class="fields">
        <label for="pseudonym">Pseudonym</label>
        <input type="text" class="form-el editor" name="pseudonym" placeholder="Public-facing name" required>
        <p class="hint">12 - 64 characters</p>
        <p class="message" id="error-Psuedonym"></p>
      </div>  

      <div class="fields">
        <label for="byline">By-Line</label>
        <input type="text" class="form-el editor" name="byline" placeholder="Author extras." required>
        <p class="hint">12 - 64 characters.</p>
        <p class="message" id="error-byline"></p>
      </div>

      <div class="fields">
        <label for="short-description">Short Description</label>
        <input type="textarea" class="form-el editor" name="short-description" placeholder="Tell our readers a bit about yourself." required>
        <p class="hint">12 - 256 characters.</p>
        <p class="message" id="error-short-description"></p>
      </div>
  <!--
      <div class="fields">
        <label for="long-description">Long Description</label>
        <input type="textarea" class="form-el editor" name="long-description" placeholder="Tell our readers more detail about yourself." required>
        <p class="message" id="error-long-description"></p>
      </div>
  -->

      <button type="submit">Create Account</button>
    </section>
  </form>