<%
// ✅ ADDED TO FUNCTIONS
prepTopics = topics => {

  // expects an array of strings
  return topics ? topics.map(topic => `<a class="label smaller" href="/listByTags/${topic}">${topic}</a>`).join(" ") : "";

}

%>