      <div class="toolbar">
        <button class="btn" name="save_server" alt="Updates the server with changes. If the post is published, the changes go live.">Save Post</button>
        <button class="btn" name="save_local" alt="Protect changes from unexpected loss by saving changes locally, but don't update the server.">Preserve Changes</button>
        <button class="btn" name="toggleView" alt="Preview with reader CSS.">Preview</button>
        <button class="btn" name="reader" alt="Open post in the reder. Leaving may delete unsaved changes.">Reader</button>
        <button class="btn" name="revert" alt="Revert the post to the state on the server.">Revert</button>
        <button class="btn" name="del" alt="Delete the post from the server. This CANNOT be undone.">Delete</button>
      </div>