<div id="gutter">
  <div id="dates">
    <h5>Dates</h5>
    <ul>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
    </ul>
  </div>
  <div id="tag-list">
    <h5>Tags</h5>
    <ul>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
      <li>Placeholder</li>
    </ul>
  </div>
</div>
<br>
<p class="tiny-text">Copyright &copy; 2021-2022 David Geren</p>