<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogish</title>
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
  <div id="container">
    <div id="container-top">
      <ul id="basic-nav">
        <li class="medium"><a id="toggle-login-form" href="">&nbsp; &nbsp;</a></li>
        <li class="medium"><a href="/about">About</a></li>
        &nbsp;
        <li class="medium"><a href="/archive">Archive</a></li>
        &nbsp;
        <li class="medium"><a href="/categories">Categories</a></li>
      
      <% if(user){ %>
        <span class="wide">&nbsp;</span><span class="narrow"><br></span>
        <li class="medium"><a href="/listUnpublished">Unpublished</a></li>
        &nbsp;
        <li class="medium"><a href="/editor">Create Entry</a></li>
        &nbsp;
        <li class="medium"><a href="/admin">Admin</a></li>
      <% } %>
      </ul>
      <% if(user){ %>
      <li id="logged-in-as" class="medium">'<%= user.email %>' [<a href="/logout">Log Out</a>]</li>
      <% } %>

      <h1><a href="/">Blogish</a></h1>
      <h2>A Career-Change Misadventure</h2>
      
      <form id="signin-form" style="display: none;">
        <input class="signin-el" type="text" name="email" placeholder="Email address" required>
        <input class="signin-el" type="password" name="password" placeholder="Password" required>
        <button class="signin-el">Log in</button>
      </form>
    </div>