    <nav>
      <% if(pagination.next) { %>
      <div class="next">
        <a href="pagination/next/<%- entries[0].dateString %>">Next</a>
      </div>
      <% } %>
      <% if(pagination.previous) { %>
      <div class="next">
        <a href="pagination/previous/<%- entries[0].dateString %>">Previous</a>
      </div>
      <% } %>
      <h5>Recent Entries</h5>
      <ul class="recentTitles">
        <li><a href="">Most Recent Example Entry Title & January 1, 2023</a></li>
        <li><a href="">Second Most Recent Example Entry Title & January 1, 2023</a></li>
        <li><a href="">Third Most Recent Example Entry Title & January 1, 2023</a></li>
        <li><a href="">Fourth Most Recent Example Entry Title & January 1, 2023</a></li>
        <li><a href="">Fifth most Recent Example Entry Title & January 1, 2023</a></li>
      </ul>
      <h5>Chronology</h5>
      <ul class="chronoList">
        <li class="month">February, 2022</li>
        <li class="entry" name="entry"><a href="">First Example Title from February, 2022</a></li>
        <li class="entry" name="entry"><a href="">Second Example Title from February, 2022</a></li>
        <li class="entry" name="entry"><a href="">Third Example Title from February, 2022</a></li>
        <li class="month">January, 2022</li>
        <li class="entry" name="entry"><a href="">First Example Title from January, 2022</a></li>
        <li class="entry" name="entry"><a href="">Second Example Title from January, 2022</a></li>
        <li class="entry" name="entry"><a href="">Third Example Title from January, 2022</a></li>
        <li class="entry" name="entry"><a href="">Fourth Example Title from January, 2022</a></li>
        <li class="month">December, 2021</li>
        <li class="entry" name="entry"><a href="">First Example Title from December, 2021</a></li>
        <li class="entry" name="entry"><a href="">Second Example Title from December, 2021</a></li>
        <li class="entry" name="entry"><a href="">Third Example Title from December, 2021</a></li>
      </ul>
    </nav>