
<%

buildTopics = topics => { // expects array of objects: {id, array of topics}

  const data = {};

  topics.forEach(item => {
    item.tags.forEach(category => {
      if(category != '' && category in data) data[category] += 1;
      else data[category] = 1;
    });
  });

  let html = `<div class="categories">\n<h3>TOPICS</h3>\n<ul>\n`;
  Object.keys(data).forEach(key => html += `
    <li>
      <div class="categories--key"><a href="/listByTags/${key}">${ key }</a></div>
      <div class="categories--count">${ data[key] }</div>
    </li>\n`);

  return html += `</ul>\n</div>`;
}

%>