<%- include('partials/header'); -%>

    <div class="headings">
      <h3>About</h3>
    </div>
  </header>
  <main>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem dolor sed viverra ipsum nunc aliquet. Lectus mauris ultrices eros in cursus turpis. Semper eget duis at tellus at urna. Nascetur ridiculus mus mauris vitae ultricies leo integer. Interdum velit laoreet id donec ultrices tincidunt. Et tortor consequat id porta. Malesuada fames ac turpis egestas sed tempus urna. Maecenas volutpat blandit aliquam etiam erat velit scelerisque. In iaculis nunc sed augue lacus. Quam lacus suspendisse faucibus interdum posuere lorem ipsum. Nisl pretium fusce id velit ut tortor. Suscipit tellus mauris a diam maecenas sed enim. Donec enim diam vulputate ut pharetra. Volutpat consequat mauris nunc congue nisi. Neque sodales ut etiam sit amet nisl purus. Nisl pretium fusce id velit. Maecenas sed enim ut sem viverra aliquet eget sit.</p>
    <hr>
  </main>

<%- include('partials/footer'); -%>