<%- include('partials/header'); -%>
<form>
  <h2>Create Admin</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required>
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required>
  <div class="password error"></div>
  <button>Add New Admin</button>
</form>

<script src="/scripts/signup.js"></script>

<%- include('partials/footer'); -%>