<%- include('partials/header'); -%>

    <div class="headings">
      <h3>Recent Posts</h3>
    </div>
  </header>
  <main>
    <hr>
    <% // short-version-article list %>
    <section>
      <h4><a href="">01 Placeholder Title</a></h4>
      <h5>Placeholder Subtitle</h5>
      <div>00 Month, 'YY</div>
      <% if(user) { %>
      <div><a href="/editor?id=123456789abc">Edit Post</a></div>
      <% } %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/post?id=123456789abc">[Read...]</a></p>
      <div>Tags: <a href="">Lorem</a>, <a href="">consectetur</a></div>
      <hr>
    </section>
    <section>
      <h4><a href="">02 Placeholder Title</a></h4>
      <h5>Placeholder Subtitle</h5>
      <div>00 Month, 'YY</div>
      <% if(user) { %>
      <div><a href="/editor?id=123456789abc">Edit Post</a></div>
      <% } %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/post?id=123456789abc">[Read...]</a></p>
      <div>Tags: <a href="/tags?tag=Lorem">Lorem</a>, <a href="/tags?tag=consectetur">consectetur</a></div>
      <hr>
    </section>
  </main>
  <% if(!user){ %>
  <script src="/scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>