:root {
  --back: #2e3440;
  --fore: #eceff4;
  --code: #88C0D0;
  --accent: #B48EAD;
  --value: #606088;
  --label: #505067;
}

.label {
  background-color: var(--label);
  font-weight: bold;
  margin: 10px 0;
  padding: .5em;
}

body {
  background-color: var(--back);
  color: var(--fore);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 2em;
  border: 0;
  max-width: 900px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-areas:
    'header main'
    'footer footer';
  gap: 1em 2.5em;
}

body * {
  margin: 0; padding: 0; border: 0;
}

h1 {
  font-size: 7em;
  padding-bottom: .15em;
}

h3 {
  padding-bottom: .75em;
}

.sijil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding: 2em 0;
  background-color: var(--label);
}

.loginError {
  display: none;
}

.tagline1 {
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}

.tagline2 {
  font-size: .80em;
}

code {
  color: var(--code);
  font-size: 1.1em;
  padding-bottom: 1em;
}

a:hover, a:visited, a:link, a:focus {
  color: var(--accent);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-toggle {
  display: none;
}

.nav {
  list-style-type: none;
  font-size: small;
}

.nav-toggle-label {
  display: none;
}

footer {
  padding: 3em 0 4em 0;
  grid-area: footer;
  text-align: center;
}

.warning {
  color: orange;
}

.profile-pic--list {
  display: block;
  max-width:75px;
  max-height:75px;
  width: auto;
  height: auto;
  float: left;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}



/* -- HEADER -- */

header {
  grid-area: header;
}

header ul {
  padding-bottom: 2em;

}

.signin-form-toggle {
  font-size: small;
  padding-bottom: .5em;
}

.signin-form {
  background-color: var(--back);
  display: flex;
  flex-direction: column;
  padding-top: .5em;
}

input.signin-el {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--accent);
}

.archive {
  margin-bottom: 2em;
}

.archive summary {
  margin-bottom: .75em;
}

.archive--month {
  margin-left: 1em;
  margin-bottom: .75em;
}

.archive--entry {
  display: flex;
  margin-bottom: .75em;
  margin-left: 1em;
  font-size: small;
}

.archive--day {
  min-width: 1.5em;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--value);
}

.archive--title-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 6px;
  background-color: var(--label);
}

.categories, .contributors ul {
  display: block;
}

.categories li, .contributors li {
  background-color: var(--label);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-left: 1em;
  font-weight: bold;
}

.categories--key, .contributors--key {
  color:#2d30eb;
  padding-left: 5px;
}

.categories--count, .contributors--count {
  background-color: var(--value);
  width: 30px;
  text-align: right;
  padding-right: 1em;
  padding-top: .25em;
  line-height: 1.75em;
}

/* end header */


/* -- MEDIA QUIERY -- */

@media screen and (max-width: 600px) {

  body {
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
    gap: 1em;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  nav {
    position: absolute;
    width: 70%;
    z-index: 10;
    background-color: var(--back);
    padding: 1em;
    border: var(--accent) 1px solid;
  }

  .tagline2 {
    font-size: .68em;
  }

  #tagline-box {
    display: flex;
    gap: .5em;
  }
  
  .nav-toggle-label {
    display: inline;
    line-height: .33em;
    font-size: xx-large;
  }
  
  .nav-toggle:checked ~ nav {
    display: none;
  }

  .signin-el {
    width: 10em;
    font-size: medium;
  }

} /* close @media screen up to 600
