:root {
  --back: black;
  --fore: white;
  --accent: orange;
  --small: .5em;
  --medium: .9em;
  --large: 1.5em;
}


body {
  background-color: var(--back);
  color: var(--fore);
  font-family: sans-serif;
  margin: 0 auto; padding: 0; border: 0;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'header1 header2'
    'nav main'
    'footer footer';
  gap: 1em 3.5em;
}

body * {
  margin: 0; padding: 0; border: 0;
}

h1 {
  font-size: 3em;
  display: inline;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:focus {
  color: var(--accent);
}

.nav {
  list-style-type: none;
}

.nav li {
  font-size: var(--medium);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

.blog-title {
  grid-area: header1;
  align-self: center;
  padding: 1em 0;
}

.login-state {
  grid-area: header2;
  justify-self: end;
  align-self: center;
  text-align: right;  
}

.pagination {
  font-size: var(--medium);
}

.button {
  font-size: var(--small);
  vertical-align: top;

}

footer {
  margin-top: 30px;
  font-size: var(--small);
  grid-area: footer;
  text-align: center;
}

/* -- HEADER -- */

#signin-form {
  background-color: var(--back);
  padding: 15px;
  position: absolute;
  border: 1px solid var(--accent);
  left: 5em;
  top: 5em;
}

.login-state {
  font-size: var(--small);
}

#logged-in-as {
  line-height: 2em;
}

button.signin-el {
  width: 65px;
  text-align: center;
}



/* -- GUTTER -- */

.titles {
  list-style-type: none;
}

.year, .month, .day, .title {
  margin-bottom: 7px;
}

.month {
  margin-left: 10px;
}

.day {
  margin-left: 20px;
}

.categories ul li {
  display: block;
}


/* -- ENTRY LIST (home, tags, unpublished) -- */

.subtitle {
  padding-bottom: 1em;
}

.card {
  padding-bottom: 20px;
}

.card_date {
  font-size: var(--small);
  padding-bottom: 5px;
}

.card_title {
  font-size: var(--large);
}

.card_title a.button {
  float: right;
}

.card_description {
  font-size: var(--medium);
}

.card_tags {
  font-size: var(--small);
}

#next {
  float: right;
  padding-right: 5px;
}


@media screen and (max-width: 600px) {

  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    display: inline;
    font-size: 3em;
  }
  
  .nav-toggle:checked ~ nav {
    display: none;
  }

} /* close @media screen up to 600



/* PREVIEW/READER */

.title-box {
  padding-bottom: 1em;
}

main h2 {
  font-size: var(--large);
}

main h3 {
  font-size: var(--medium);
  font-style: italic;
  padding: 1em 2em;

}

main .date-display {
  font-size: var(--small);
  padding: .25em 0;
  float: right;
}

main section p {
  margin: 0 0 1em 0;  
}

main section ul {
  list-style-type: '\2014\2003\2003';
  list-style-position: initial;
  margin: 0 0 1em 2em;
}

main section h4 {
  margin: 0 0 1em 0;
}


/* -- EDITOR -- */

.toolbar {
  width: 100%;
  margin: 10px 0;
  padding: 0;
}

#editor {
  margin: 0;
  padding: 0;
}

.editorSection {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.elementContainer {
  margin: 0;
  padding: 0;
}

input, button, textarea {
  background-color: #222;
  color: white;
}

button {
  background-color: var(--back);
  color: var(--accent);
}

input {
  border: 1px solid var(--accent);
}

textarea {
  outline: 1px solid var(accent);
  scrollbar-color: var(--fore) var(--back);
  color: var(--fore);
}

.listSection {
  border-bottom: 1px var(--back) solid;
}

.form-el {
  width: 96%;
  padding: 10px 2%;
  margin: 10px 0 20px 0;
}

#editor_content, #editor_markdown {
  border: 1px solid var(--accent);
  min-height: 20em;
  font-family: monospace;
}

#editor_checkbox {
  width: 20px;
  accent-color: var(--accent);
}

#datepicker, #timepicker {
  width: 100px;
}

.publish {
  display: inline-block;
}

#publishError {
  display: none;
}

#preview {
  border-top: 1px solid var(--accent);
  margin: 0;
  padding: 10px 0;
  width: 100%;
}