:root {
  --back: #2e3440;
  --fore: #eceff4;
  --code: #88C0D0;
  --accent: #B48EAD;
  --small: .6em;
  --medium: .9em;
  --large: 1.5em;
}


body {
  background-color: var(--back);
  color: var(--fore);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 2em;
  border: 0;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header main'
    'footer footer';
  gap: 1em 3.5em;
}

body * {
  margin: 0; padding: 0; border: 0;
}

h1 {
  font-size: 3em;
  display: inline;
}

code {
  color: var(--code);
  font-size: 1.1em;
  padding-bottom: 1em;
}

a:hover, a:visited, a:link, a:focus {
  color: var(--accent);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-toggle {
  display: none;
}

.nav {
  list-style-type: none;
}

.nav li {
  font-size: var(--medium);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

.login-state {
  justify-self: end;
  align-self: center;
  padding-bottom: 3em;
}

.pagination {
  font-size: var(--medium);
}

.button {
  font-size: var(--small);
  vertical-align: top;

}

footer {
  padding: 3em 0 4em 0;
  font-size: var(--small);
  grid-area: footer;
  text-align: center;
}

/* -- HEADER -- */

header {
  grid-area: header;
}

header h2, header ul {
  padding-bottom: 2em;
}

.signin-form-toggle {
  font-size: var(--medium);
}

.signin-form {
  background-color: var(--back);
  position: fixed;
  padding: 1em;
  border: 1px solid var(--accent);
  z-index: 20;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -75%);
  display: flex;
  flex-direction: column;
}

.signin-el {
  font-size: var(--medium);
  padding: 1em;
  border: 1px solid var(--accent);
  width: 15em;
}

.signin-buttons {
  display: flex;
}

button.login, button.cancel {
  width: 50%;
  display: inline;
}

#logged-in-as {
}

.tagline {
  font-size: var(--medium);
}

.year, .month, .day {
  margin-bottom: 7px;
}

.month {
  margin-left: 10px;
}

.day {
  margin-left: 20px;
}

.categories ul li {
  display: block;
}


/* -- ENTRY LIST (home, tags, unpublished) -- */

.subtitle {
  padding-bottom: 1em;
}

.card {
  padding-bottom: 3em;
}

.card_date {
  font-size: var(--small);
  padding-bottom: 1em;
}

.card_title {
  font-size: var(--large);
  padding-bottom: .25em;
}

.edit-button {
  float: right;
  font-size: var(--small);
  vertical-align: middle;
}

.card_description {
  font-size: var(--medium);
  padding-bottom:   .5em;
}

.card_tags {
  font-size: var(--small);
}

#next {
  float: right;
  padding-right: 5px;
}


@media screen and (max-width: 600px) {

  body {
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
    gap: 1em;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  nav {
    position: absolute;
    width: 70%;
    z-index: 10;
    background-color: var(--back);
    padding: 1em;
    border: var(--accent) 1px solid;
  }

  .tagline-box {
    display: flex;
  }
  
  .nav-toggle-label {
    display: inline;
    line-height: .75em;
    font-size: var(--large);
  }
  
  .nav-toggle:checked ~ nav {
    display: none;
  }

  .signin-el {
    width: 10em;
    font-size: var(--small);
  }



} /* close @media screen up to 600



/* PREVIEW/READER */

.title-box {
  padding-bottom: 1em;
}

main h2 {
  font-size: var(--large);
}

main h3 {
  font-size: var(--medium);
  font-style: italic;
  padding: 1em 2em;

}

main .date-display {
  font-size: var(--small);
  padding: .25em 0;
  float: right;
}

main section p {
  margin: 0 0 1em 0;  
}

main section ul {
  list-style-type: '\2014\2003\2003';
  list-style-position: initial;
  margin: 0 0 1em 2em;
}

main section h4 {
  margin: 0 0 1em 0;
}


/* -- EDITOR -- */

.toolbar {
  padding: 1em 0;
}

.editorSection {
  padding-bottom: 10px;
}

input, button, textarea {
  background-color: #222;
  color: var(--fore);
}

button {
  background-color: var(--back);
  color: var(--accent);
}

input {
  border: 1px solid var(--accent);
}

textarea {
  outline: 1px solid var(accent);
  scrollbar-color: var(--fore) var(--back);
  color: var(--fore);
}

.listSection {
  border-bottom: 1px var(--back) solid;
}

.form-el {
  width: 96%;
  padding: 10px 2%;
  margin: 10px 0 20px 0;
}

#editor_content, #editor_markdown {
  border: 1px solid var(--accent);
  min-height: 20em;
  font-family: monospace;
}

#editor_checkbox {
  width: 20px;
  accent-color: var(--accent);
}

#datepicker, #timepicker {
  width: 100px;
}

.publish {
  display: inline-block;
}

#publishError {
  display: none;
}

#preview {
  border-top: 1px solid var(--accent);
  padding: 1em 0;
  width: 100%;
}