
/* GENERAL */
body {
  background-color: darkslategrey;
  color: black;
  font-family: sans-serif;
  padding: 5px 25px;
}

section {
  padding: 10px 0;
}

h1 {
  font-family: monospace;
  display: inline;
  font-size: 3em;
}

h2 {
  font-size: 1em;
  float: right;
}

h4 {
  margin-bottom: 3px;
}

h5 {
  margin: 0;
}

a {
  color: greenyellow;
  text-decoration: none;
}

hr {
  border: 1px solid black;
}

.small-text {
  font-size: .75em;
}

/* NAVIGATION */
.nav {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.nav li {
  display: inline;
  padding: 0 10px 0 0;
  margin: 0;
}

.signin-el {
  display: inline;
}

.signin-form {
  float: right;
}


/* EDITOR */
.toolbar {
  width: 100%;
  margin: 10px 0;
  padding: 0;
}

.form-el {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0 20px 0;
  background-color: ccc;
}

#content-editor {
  border: 1px solid black;
  min-height: 20em;
  font-family: monospace;
}

section.preview, section.reader{
  display: none;
}

/* PREVIEW/READER */
.preview-el {
  margin: 0 0 8px 0;
}

p.editBtn {
  float: right;
  background-color: black;
  padding: 5px 10px;
}